<div class="ui-layout-west">
    WEST AREA 
</div>

<div id="search_results" class="ui-layout-center">
    <div class="ui-layout-center">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Salary</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="ui-layout-south">
        SOUTH AREA
    </div>
</div>
