<html>
    <div ng-controller="QueryCtrl" ng-model-options="{debounce: 500}" ng-app = "myApp">
        <div id='cssmenu' align="right">
            <ul>
                <a href="http://da.qcri.org" class="pull-left" target="_blank"><img src="/../static/img/qcri-test.jpg"></a>
                <li><a ng-href="http://vera-qcri.herokuapp.com/#/"><span>Home</span></a></li>
               <li><a href='http://dafna.qcri.org/users/sign_in' target="_blank"><span>Login/Register</span></a></li>
               <li><a href='http://da.qcri.org/dafna/home_sections/publications.html' target="_blank"><span>Publications</span></a></li>
            </ul>
        </div>
        <div class="site-wrapper  site-wrapper--home  js-site-wrapper">   
        <div class="site-wrapper-border"></div>

        <br/>
         <div id="header" class="header  cw">
                <div class="header__search-wrap"><a href="/#/" class="header__logo-wrap"><h5 class="test">VERA</h5></a>
                    <div class="header__content  header__search">
                        <form id="search_form" class="search--adv  search--header  js-search-form" ng-submit=submit()>
                            <input id="query" class="search__input js-search-input" type="text" autocomplete="off" uib-typeahead="query for query in queries | filter:$viewValue" class="form-control" ng-model="searchBox" auto-close="disabled" is-open="true" placeholder="Please Enter a Query. e.g - People Killed in Paris Bombing">
                            <input id="search_button" class="search__button  js-search-button" type="submit" tabindex="2" value="S" />
                        </form>
                    </div>
                </div>

        </div>

         <br/> 

        <div class="image-frame">
           <!-- <iframe ng-src='{{current}}' width="500" height="600" align="right" name="testframe"></iframe> -->
           <img src = '/../static/img/image.png' width="600" height="400" align="right" class="image">
        </div>
            <div ng-if="result === 'False'">
            <br/>
            Loading Result ..
            </div>

            <div ng-if="result ==='True'">
            <br/>
            <table border = "0" class = "left">
                <tbody ng-repeat="dat in out">
                        <tr>
                        <td colspan = {{dat.len}} class="keepLeft"><font color = {{dat.color}} size = '5'/>{{dat.value}} value: {{dat.property_value}} </td>
                        <td>
                            <input type="button" value="Explanation" ng-click="goTo(dat.link)"/>
                        </td>
                        <td>
                            <input type="button" value="Allegator Track" ng-click="goTo(dat.allegator_link)" ng-hide="{{dat.hide}}"/> 
                        </td>
                        </tr>
                        <tr>
                        <td ng-repeat = "sources in dat.combined_sources" class="keepLeft"><font size = '3'/>
                            <a ng-click='linkClick(sources.source_link)' target="testframe">{{sources.id}}</a>
                        </td> 
                        </tr>  
                        <tr><td><br/></td></tr>
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>

    <script src="../js/app.js"></script>
    <script src="../js/controller.js"></script>
    <script src="../js/factory.js"></script>
    </<!DOCTYPE html>

</body>
</html>