#user_nav {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: lightgreen;
  opacity: 0.7;
  border-radius: 5px;
  padding: 3px;
  z-index: 100003; // match uservoice callout
}

#user_nav:hover {
  opacity: 1;
}

.toolbar {
  float: left;
}

.spinner {
  width: 40px;
}

.ui-tabs .ui-tabs-nav li {
    width:30%;
    text-align: center; 
}

.ui-tabs .ui-tabs-nav li a {
    display: inline-block;
    float: none;
    padding: 5px;
    text-decoration: none;
    width: 100%;
}

.progress{
  margin-top: 7px;
}

.info-icon{
  display: inline-block;
  margin-left: 10px;   
}

.algorithm_checkbox_label {
    width: 100%;
}

.header_row{
  width: 100px;
}

.trash-icon{
  cursor: pointer;
}

.dataTable td {
  max-width: 10px; /* the number per se is not used but it is there to get the overflow properties work! */
  overflow: hidden;
  text-overflow: ellipsis;
}

#source_id_datatable_filter input, #object_id_datatable_filter input {
  width: 100px;
}

#datatable_filter input {
  width: 200px;
}

.dataTables_filter {
  margin-top: 10px;
}