<h3 class="sankey-title">
Sankey diagram for run <%= @run %>
</h3>

<div class='sankey-zoomer'>
  <div class='in'>+</div>
  <div class='out'>-</div>
</div>
<span class='spinner'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
<div style="clear: both;"></div>
<div class='sankey'></div>

<script>
  $(document).ready(function(){
    document.title = "Run <%=@run.id%> Sankey | AllegatorTrack"
    var selector = '.sankey'
    var s = $(selector)
    var energy
    var zoomInFactor = 1.1, zoomOutFactor = 1/1.1
    // load chart
    $.getJSON('<%= sankey_run_path @run, format: "json" %>', function(response){
      $('.spinner').hide()
      energy = response
      s.height($(document).height() - $('.sankey').offset().top - $('.sankey-title').offset().top)
      createSankeyChart(energy, selector)
    })
    // zooming
    $(".sankey-zoomer>div").click(function(){
      s.height(s.height() * ($(this).hasClass("in") ? zoomInFactor : zoomOutFactor)).empty()
      createSankeyChart(energy, selector)
    })
  })
</script>