var pageLayout
var searchResultsLayout
var datatable, source_table, object_table, runtable, claims_dt, ground_dt;
var runtable_tools
var config_data = {}
var runsets = ["claims", "ground"]
var s3_direct_post = {}
var datatable_columns_visibility = {}
var datatable_columns = []
var selected_datasets = {}
var selected_datasets_length = 0

$(document).ready(function() {
  setup_layout()
  setup_west_pane()
  setup_datasets_dialog()
  setup_data_selector()
  setup_datatables()
  setup_start_button()
  setup_runtable()
  setup_allegationtable()
  setup_pusher()
});

function has_ground(){
  var value = $('#ground_datasets_table').dataTable().fnGetData().length
  return value > 0
}

function activate_runset_tab(runset_id)
{
  // find corresponding tab
  $.each(runsets, function(id, runset){
    if (id > 1 && runset.id == runset_id) {
      $("#data-selector").tabs("option", "active", id)
      refresh_runset()
      return
    }
  })
}

function add_runset_in_tabs(tabs, runset)
{
  var label = "Runset " + runset.id
  tabs.find( ".ui-tabs-nav" )
    .append("<li> <a href='#tab-common'>"+label+"</a><span id='"+runset.id+"' class='ui-icon ui-icon-close' role='presentation'></span> </li>");
  runsets.push(runset)
}

function add_runset(runset)
{
  var tabs = $("#data-selector").tabs()
  add_runset_in_tabs(tabs, runset)
  tabs.tabs( "refresh" );
}

function refresh_runset()
{
  destroy_datatables()
  setup_datatables()
  refresh_charts()
  // console.log('refresh_runset called')
}

function setup_data_selector()
{
  // initialize tabs
  var tabs = $("#data-selector").tabs({
    activate: function(event, ui) {
      var active = tabs.tabs( "option", "active" )
     
      if (active > 1) {
        $('#show_input').hide()
        $('#tab-common').show()
      }
      else {
        $('#tab-common').hide()
        $('#show_input').show()
      }

      // TODO: show runset info
      refresh_runset()
    }
  })

  // export links
  $(".export-command").click(function(){
    var data_selector = $("#data-selector").tabs("option", "active")
    var runset = runsets[data_selector]
    var what = $(this).attr("value")
    var checkbox = what == 'source_id' ? $("#source_id_normalize") : $("#claims_normalize");
    var normalized = checkbox.find("input").is(":checked") ? "1" : ""
    window.location = '/runsets/'+runset.id+'/results.csv?extra_only='+what+'&extra_normalized='+normalized
  })

  // append tab for each runset
  $.getJSON('/runsets', function(runsets){
    $.each(runsets, function(id, runset){
      add_runset_in_tabs(tabs, runset)
    })
    tabs.tabs( "refresh" );
    $('#tab-common').hide()
    $('#show_input').show()
  })
  
  // close icon remove runset from server
  tabs.delegate( "span.ui-icon-close", "click", function() {
    if (confirm("Are you sure you want to permanently delete this runset?")){
      var span_id = $(this).attr("id")
       var span_rm = this
       delete_runset(span_rm, span_id)
    }
  });
}

function delete_runset(span_rm,span_id){
  $.ajax({
    url: '/runsets/'+ span_id,
    type: "DELETE",
    success: function(){
      // delete item from array
      runsets = $.grep(runsets,function(value, i){
        if(i<=1)
          return value
        else if(i>1)
          return value.id != span_id
      })
      runtable.draw()
      var panelId = $( span_rm).closest( "li" ).remove()
      $( "#" + panelId ).remove()
      $('#data_selector').tabs( "refresh" )
    }
  });
  var tabs = $("#data-selector").tabs()
  tabs.tabs({active:0}) 
}

function setup_pusher()
{
  var pusher = new Pusher('<%= Pusher.key %>'); // establishes the connection
  var channel = pusher.subscribe("user_" + current_user_id);

  // handle run_change
  channel.bind('run_change', function(run) {
    if (run["allegator?"]) {
      update_run_row(allegations_table, run)
      if (typeof claims_dt != 'undefined') claims_dt.draw()
    }
    else {
      var runset = $.grep(runsets,function(runset, i){
        return runset.id == run.runset_id
      })[0]
      var found_run = $.grep(runset.runs, function(run_value,j){
        return run_value.id == run.id
      })[0]
      activate_runset_tab(runset.id)
      found_run.status = run.status
      update_run_row(runtable, run) 
    }
  });

  // handle dataset_change
  channel.bind('dataset_change', function(dataset) {
    // update corresponding rows in table
    // find dataset in table (if any) to update it
    var datasets_table = dataset.kind == 'claims' ? claims_dt : ground_dt
    var row = datasets_table.row($("#dataset-" + dataset.id).parent().parent())
    if (row.length == 1) {
      row.data(dataset)
      bind_dataset_delete($(".trash-icon", row.node()), datasets_table)
      bind_dataset_select($(".dataset_selector", row.node()))

      $(row.node()).effect("highlight")
      refresh_datatables();
    }
  });
}

function update_run_row(table, run)
{
  var row = table.row($("#run-" + run.id).parent().parent())
  if (row.length == 1) {
    row.data(run)
    $(row.node()).effect("highlight")
    return true
  }
}

function setup_start_button()
{
  $("#start_button")
  .button()
  .click(function(){
    // setup checked algorithms
    var checked_algo = {}
    $('.algorithm_checkbox').each(function(index, check_box){
      check_box = $(check_box)
      var algorithm_id = check_box.attr("algorithm_id")
      if(check_box.is(':checked') && !check_box.button("option", "disabled")){
        if (config_data[algorithm_id].length > 0)
          checked_algo[algorithm_id] = config_data[algorithm_id]
        else
          checked_algo[algorithm_id] = 0  // otherwise, won't be included in params
      }
    });
    // send post request
    var data = {
      checked_algo: checked_algo,
      general_config: config_data["General Parameters"]
    }
    if (selected_datasets_length > 0)
      data.datasets = selected_datasets
    $.ajax({
      type: "POST",
      url : "/runsets",
      data: data,
      success: function(runset){
        runtable.draw()
        add_runset(runset)
        activate_runset_tab(runset.id)
      }
    });
  });
  refresh_selected_datasets_info()
}

function setup_runtable()
{
  var runtable_excess = 47
  var height = searchResultsLayout.state.south.innerHeight - runtable_excess
  // console.log(height)
  var obj = $('#run_table')
  runtable = obj.DataTable({
    dom: 'tJST',
    serverSide : true,
    jQueryUI: true,
    destroy: true,
    ordering: false,
    deferRender:true,
    "scrollY": height,
    "scrollX": true,  // so that table header scrolls with content
    "ajax": function (data, callback, settings) {
      var url = "/runs";
      $.getJSON(url, data, function(response){
        callback(response)
        $(".action-cancel", obj).unbind().click(function(event){
          event.stopPropagation(); // stop the click from propagating to the tr to select/deselcet
          alert("Sorry, not implemented yet, just keep calm and stay tuned!")
        });
        $(".action-delete", obj).unbind().click(function(event){
          event.stopPropagation(); // stop the click from propagating to the tr to select/deselcet
          if(confirm("Are you sure you want to delete this run?")) {
            var run_id = $(this).attr("run_id")
            $.ajax({
              url: '/runs/'+ run_id,
              type: "DELETE",
              success: function(){
                runtable.draw();
                // iterate on all runsets and delete the run 
                $.each(runsets, function(i, runset){
                  if(i>1){
                    runset.runs = $.grep(runset.runs, function(run, index){
                      return run.id != run_id
                    })
                  }
                })
                // if the runset is empty, delete it
                runsets = $.grep(runsets, function(runset, i){
                  if (i>1 && runset.runs == 0){
                    delete_runset('span#'+runset.id, runset.id)
                    return false
                  }
                  return true
                })
                destroy_datatables()
                setup_datatables()
              }
            });
          }
        });
      });
    },
    'columns': [
      {
        'data': 'runset_id'
      },
      {
        'data': 'id',
        'render': function (id, type, full, meta){
          var span = id + ""
          if (full.last_error) {
            span = "<span class='ui-icon ui-icon-alert ui-icon-with-text' title='Last error: "
              + full.last_error
              + "'>"+id+"</span>"
          }
          return span
        }
      },
      {
        'data': 'created_at',
        'render': function (created_at, type, full, meta){
          return moment(created_at).calendar()
        }
      },
      {'data': 'display'},
      {
        'data': 'status',
        'render': function (status, type, full, meta){
          var class_attrib = ""
          switch(status) {
            case 'scheduled': class_attrib = 'ui-icon ui-icon-clock'; break;
            case 'started': class_attrib = 'spinner'; break;
            case 'finished': return moment("00:00:00", "HH:mm:ss").add(moment.duration(full.duration)).format("HH:mm:ss.SSS")
          }
          return '<span class="'+class_attrib+'" title="'+status+'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>'
        }
      },
      {'data': 'precision'},
      {'data': 'accuracy'},
      {'data': 'recall'},
      {'data': 'specificity'},
      {'data': 'iterations'},
      {
        'data': 'id',
        'render': function (id, type, full, meta){
          var actions = ""
          switch(full.status){
            case 'scheduled': actions = ["D"]; break;
            case 'started': actions = ["C"]; break;
            case 'finished': actions = ["D"]; break;
          }
          return $.map(actions, function(action){
            switch(action){
              case 'C':
                return '<span run_id="'+id+'" class="action-cancel ui-icon ui-icon-closethick" title="Cancel"></span>'
              case 'D':
                return '<span run_id="'+id+'" class="action-delete ui-icon ui-icon-trash" title="Delete"></span>'
            }
          }).join("") +
            '<span id="run-'+id+'"></span>'
        }
      }
    ],
    tableTools: {
      "sRowSelect": "single",  // "os" doesn't allow fnPreRowSelect to work!
      "fnRowSelected": function ( nodes ) {
        var run = runtable.row(nodes[0]).data()
        // console.log("selected run", run)
        activate_runset_tab(run.runset_id)
      },
      // "fnPreRowSelect": function ( ev, nodes ) {
      //   console.log("in preselect", ev, nodes)
      //   var status = runtable.row(nodes[0]).data().status;
      //   return status == "finished";
      // },
      "aButtons": []
    }
  });
  runtable_tools = TableTools.fnGetInstance('run_table');
}

function setup_allegationtable()
{
  var obj = $('#allegations_table')
  allegations_table = obj.DataTable({
    dom: 'tJS',
    serverSide : true,
    jQueryUI: true,
    destroy: true,
    ordering: false,
    deferRender:true,
    "scrollY": '200px',
    "scrollX": true,  // so that table header scrolls with content
    "ajax": function (data, callback, settings) {
      var url = "/runs";
      data.allegations = 1
      $.getJSON(url, data, function(response){
        callback(response)
        $(".action-delete", obj).unbind().click(function(event){
          if(confirm("Are you sure you want to delete this allegation?")) {
            var run_id = $(this).attr("run_id")
            $.ajax({
              url: '/runs/'+ run_id,
              type: "DELETE",
              success: function(){
                allegations_table.draw();
              }
            });
          }
        });
      });
    },
    'columns': [
      {
        'data': 'allegates_run_id',
        'render': function (allegates_run_id, type, full, meta){
          var span = allegates_run_id + ""
          if (full.last_error) {
            span = "<span class='ui-icon ui-icon-alert ui-icon-with-text' title='Last error: "
              + full.last_error
              + "'>"+allegates_run_id+"</span>"
          }
          return span
        }
      },
      {'data': 'allegates_claim_id'},
      // {'data': 'allegates_value'},
      {
        'data': 'created_at',
        'render': function (created_at, type, full, meta){
          return moment(created_at).calendar()
        }
      },
      // {'data': 'display'},
      {
        'data': 'status',
        'render': function (status, type, full, meta){
          var class_attrib = ""
          switch(status) {
            case 'scheduled': class_attrib = 'ui-icon ui-icon-clock'; break;
            case 'started': class_attrib = 'spinner'; break;
            case 'finished': return moment("00:00:00", "HH:mm:ss").add(moment.duration(full.duration)).format("HH:mm:ss.SSS")
          }
          return '<span class="'+class_attrib+'" title="'+status+'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>'
        }
      },
      {'data': 'claims_allegated'},
      {
        'data': 'id',
        'render': function (id, type, full, meta){
          return '<span run_id="'+id+'" class="action-delete ui-icon ui-icon-trash" title="Delete"></span>'+
          '<span id="run-'+id+'"></span>'
        }
      }
    ]
  });
}

function setup_claims_dataset_table()
{
  claims_dt = setup_dataset_table("claims")
}

function setup_ground_dataset_table()
{
  ground_dt = setup_dataset_table("ground")
}

function setup_dataset_table(dataset_kind){
  var obj = $('#' + dataset_kind + "_datasets_table")
  var dt = obj.DataTable({
    dom: 'JtS', 
    serverSide : true,
    jQueryUI: true,
    scrollY: '200px',
    scrollX: true,  // so that table header scrolls with content
    destroy: true,
    ordering: false,
    ajax: function (data, callback, settings) {
      var url = "/datasets?kind="+dataset_kind
      $.getJSON(url, data, function(response){
        s3_direct_post = response.s3_direct_post
        callback(response)
        if (has_ground())
          $('#ground_tab').show()
        else
          $('#ground_tab').hide()

        bind_dataset_delete($(".trash-icon", obj), dt)
        bind_dataset_select($(".dataset_selector", obj))
      });
    },
    'columns':[
      {
        'data': 'id',
        'render': function (dataset_id, type, full, meta){
          var checked = selected_datasets[dataset_id+""] ? "checked='checked'" : ""
          return "<input type='checkbox' class='dataset_selector' dataset_id='"+dataset_id+"' "+checked+"/>"
        }      
      },
      {'data': 'original_filename'},
      {
        'data': 'created_at',
        'render': function (created_at, type, full, meta){
          return moment(created_at).calendar()
        }      
      },
      {
        'data': 'row_count',
        'render': function (row_count, type, full, meta){
          var class_attrib = "", desc = "", more_info = ""
          if (full.duplicate_rows > 0 || full.invalid_rows > 0) {
            more_info = '\nDuplicate rows: ' + full.duplicate_rows + ' (not imported)'
              + '\nInvalid rows: ' + full.invalid_rows + ' (not imported)'
          }
          switch(full.status) {
            case null: class_attrib = 'ui-icon ui-icon-clock'; desc = 'Upload received, processing will start shortly...'; break;
            case 'processing': class_attrib = 'spinner ui-icon-with-text'; desc = 'Processing upload...' + more_info; break;
            case 'failed': class_attrib = 'ui-icon ui-icon-alert ui-icon-with-text'; desc = 'Processing failed' + more_info; break;
            case 'done': 
              class_attrib = 'ui-icon ui-icon-with-text '
              class_attrib += more_info ? 'ui-icon-info' : 'ui-icon-circle-check';
              desc = 'Processing done' + more_info;
              break;
          }
          return '<span id="dataset-'+full.id+'" class="'+class_attrib+'" title="'+desc+'">'+row_count+'</span>'
        }
      },
      {'data': 'id',
        'render' : function (data,type,full,meta){
          return '<span dataset_id="'+data+'" class="trash-icon ui-icon ui-icon-trash"></span>'
        }
      }
    ]
  });

  return dt;
}

function bind_dataset_delete(selector, datasets_table)
{
  selector.click(function(){
    if(confirm("Are you sure you want to delete this dataset?"))
      $.ajax({
        url: '/datasets/'+$(this).attr("dataset_id"),
        type: "DELETE",
        success: function(){
          datasets_table.draw()
          refresh_datatables()              
        }
      });
   });
}

function bind_dataset_select(selector) {
  selector.click(function(){
    var dataset_id = $(this).attr("dataset_id")
    // update the seletected object
    if ($(this).is(":checked")) {
      selected_datasets[dataset_id] = 1
      selected_datasets_length++
    }
    else {
      delete selected_datasets[dataset_id]
      selected_datasets_length--
    }
    refresh_selected_datasets_info()
    refresh_datatables()
  })
}

function clear_and_init_selected_datasets(dataset)
{
  selected_datasets_length = 1
  selected_datasets = {}
  selected_datasets[dataset.id+""] = 1
  refresh_selected_datasets_info()
}

function refresh_selected_datasets_info()
{
  // refresh the info div
  var message = "Click to start selected algorithm(s) on <u><strong>"
  var info = selected_datasets_length == 0 ? "all your datasets." : selected_datasets_length + " dataset(s)."
  message += info + "</strong></u>"
  $("#selected_datasets_info").html(message)
  $("#show_input").text("Showing " + info)
}

function check_algorithm_checkbox()
{
  // returns true if mixing multi-valued and single-valued algorithms 

  var algorithm_id
  var found_single = 0, found_multi = 0
  var is_combiner, combiner_checkbox = null

  $(".algorithm_checkbox").each(function(index, check_box) {
    check_box = $(check_box)
    algorithm_id = check_box.attr("algorithm_id")
    is_combiner = check_box.attr("combiner") == "combiner"
    if (is_combiner)
      combiner_checkbox = check_box

    if (check_box.is(':checked')) {
      $('input:checked+label').addClass("algorithm_checkbox_on")
      $("h3.algorithm_"+algorithm_id).show()
      if (check_box.attr("multi") == "multi")
        found_multi++
      else if (!is_combiner)
        found_single++
    }
    else {
      $('[type="checkbox"]:not(:checked) + label').removeClass("algorithm_checkbox_on")
      $(".algorithm_"+algorithm_id).hide()
    }
  });

  if (found_single || found_multi){
    // enable configuration tab
    $('#tabs').tabs("enable",1)
  }
  else{
    $('#tabs').tabs("option", "disabled",[1])
  }

  if (combiner_checkbox) {
    if (found_single + found_multi > 1 && has_ground()){
      // enable combiner algorithm
      combiner_checkbox.button("enable")
    }
    else
      combiner_checkbox.button("disable")
  }

  return found_single > 0 && found_multi > 0
 }

function refresh_datatables()
{
  datatable.draw()
  source_table.draw()
  object_table.draw()
}

function destroy_datatables()
{
  // sources table
  source_table.search('')
  source_table.destroy()
  // objects table
  object_table.search('')
  object_table.destroy()
  // claims table
  datatable.search('')
  save_columns_visibility()
  datatable.destroy()
  datatable = undefined // to prevent calling save_columns_visibility again on destroyed table which yields all visible columns
}

function save_columns_visibility()
{
  // sets datatable_columns_visibility array of hidden columns in datatable
  var visible_list = datatable.columns().visible()
  for (var i = 0; i < visible_list.length; i++) {
    datatable_columns_visibility[datatable_columns[i].data] = visible_list[i]
  }
}

function is_visible_column(field_name)
{
  // returns boolean wheather column is hidden in datatable
  return (datatable_columns_visibility[field_name] === true) ||
    (typeof datatable_columns_visibility[field_name] == 'undefined')
}

function setup_datatables() {

  if (typeof datatable != 'undefined') save_columns_visibility()

  var datatable_excess = 135
  var height = searchResultsLayout.state.center.innerHeight - datatable_excess

  var data_selector = $("#data-selector").tabs("option", "active")

  var showing_inputs = data_selector <= 1
  var runset = runsets[data_selector]
  var has_normailze_checkbox = false;
  var checkbox = $("#claims_normalize");

  source_table = setup_single_datatable("source_id", "source_id", showing_inputs, runset, height,
    typeof source_table != 'undefined' ? source_table.search() : '', function(){
      object_table.draw()
      datatable.draw()
    })
  object_table = setup_single_datatable("object_key", "object_id", true, runset == 'ground' ? runset : runsets[0], height,
    typeof object_table != 'undefined' ? object_table.search() : '', function(){
      source_table.draw()
      datatable.draw()
    })

  // maintain search filter and order across destroy/create
  var filter = '', order = [[0, 'asc']]
  if (typeof datatable != 'undefined') {
    filter = datatable.search()
    order = datatable.order()
  }

  var obj = $('#datatable')
  obj.empty().append($("<thead><tr></tr></thead>"))
  var thead = $("thead tr", obj)
  datatable_columns = []
  var basic_fields = {
    claim_id: "claim_id",
    object_key: "object_id",
    property_key: "property_id",
    property_value: "property_value",
    source_id: "source_id",
    timestamp: "timestamp"
  }

  $.each(basic_fields, function(field_name, field_display){
    thead.append("<th>"+field_display+"</th>")
    push_column_data(datatable_columns, field_name, field_name == 'claim_id') // wrap claim_id in span for icons
  })

  var finished_runs
  if (!showing_inputs) {
    finished_runs = append_runs_to_table(runset, thead, datatable_columns)
    has_normailze_checkbox = !showing_inputs && finished_runs.length > 0;
  }

  datatable = obj.DataTable({
    "serverSide": true,
    "deferLoading": 0,  // don't load first page automatically because main datatable is not ready yet
    "scrollY": has_normailze_checkbox ? height - 50 : height,
    "scrollX": true,  // so that table header scrolls with content
    jQueryUI: true,
    "dom": 'C<"toolbar"T>JtSif',
    "colVis": {
      "exclude": [],
      "activate": "mouseover",
      "fnStateChange": function ( iColumn, bVisible ) {
        if (bVisible)
          datatable.draw()
      }
    },
    "search": {"search": filter},
    "order": order,
    "ajax": function (data, callback, settings) {
      var url
      if (showing_inputs) {
        url = "/dataset_rows"
        data.extra_kind = runset
        if (selected_datasets_length > 0)
          data.datasets = selected_datasets
      }
      else {
        url = "/runsets/" + runset.id + "/results.json"
      }
      data.extra_source_id_criteria = source_table.search()
      data.extra_object_key_criteria = object_table.search()
      if (has_normailze_checkbox && checkbox.find("input").is(":checked"))
        data.extra_normalized = 1
      $.getJSON(url, data, function(response){
        callback(response)
      })
      // manually handle search filter change to update other tables
      if (obj.data("last_filter") != datatable.search()) {
        obj.data("last_filter", datatable.search())
        source_table.draw();
        object_table.draw();
      }
    },
    "columns": datatable_columns,
    "rowCallback": function( row, data ) {
      // Color the confidences green/red
      if (!showing_inputs) {
        $.each(finished_runs, function(id, run){
          var bool = data["r"+run.id+"_bool"]
          var td = $("span.r"+run.id+"_cell", row).parent()
          td.addClass("claim_is_"+bool)
            .append("<button class='cellmenubutton'/>")
          $("button", td)
            .button({
              text: false,
              icons: {primary: "ui-icon-triangle-1-s"}
            })
            .click(function() {
              var menu = $("#cellmenu")
              if (menu.length == 0) {
                // create menu
                menu = $("<ul id='cellmenu'>"+
                  "<li class='menuexplain'>"+
                    "<a href='#'>Explain...</a> "+
                    "</li>"+
                  "<li class='menuallegate'>"+
                    "<a href='#'>Allegate...</a>"+
                    "</li>"+
                  "</ul>").appendTo($(row).parent()).hide().menu()
              }
              // attach menu listeners
              $("li.menuexplain a", menu).unbind().click(function(){
                explain_claim(data.claim_id, run.id)
                menu.hide(); return false;
              })
              $("li.menuallegate a", menu).unbind().click(function(){
                allegate_claim(data.claim_id, run.id)
                menu.hide(); return false;
              })
              if (bool == 't' && !run["combiner?"])
                $(".menuallegate", menu).show()
              else
                $(".menuallegate", menu).hide()

              menu.show().position({
                my: "right top",
                at: "right bottom",
                of: this // arrow button
              });
              $( document ).one( "click", function() {
                menu.hide();
              });

              return false;
            })  // click arrow button

          if (run["combiner?"]) {
            // replace text
            td.empty().text(bool == 't' ? 'True' : 'False')
          }
        })
        // highlight row if it is a previously allegated claim
        if (data.allegated)
          $(row).addClass("allegated_claim")
            .attr("title", "This claim was allegated in a previous run")
      }
      // attach icons for child claims
      if (data.parent_id && data.parent_id != data.claim_id) {
        var td = $("span.claim_id_cell", row)
        td.prepend("<span class='ui-icon ui-icon-arrow-1-se' style='float: left;' " +
          "title='Claim "+data.claim_id+" is a member of parent multi-valued claim "+data.parent_id+"'" + "></span>")
      }
    },
    "destroy": true,  // destroy first if reinitializing
    "scroller": {
      loadingIndicator: false
    },
    tableTools: {
      "sRowSelect": "none",
      "fnRowSelected": function ( nodes ) {
        var data = datatable.row(nodes[0]).data()
        //$("#details").html("You have selected claim with id: " + data.claim_id)
      },
      "fnRowDeselected": function ( nodes ) {
        //$("#details").html("")
      },
      "aButtons": []
    }
  });

  toggle_normalize_checkbox(checkbox, has_normailze_checkbox, datatable)

  source_table.draw()
  object_table.draw()
  
}

function explain_claim(claim_id, run_id)
{
  // activate explain tab if not active
  $("#tabs").tabs("option", "active", 2)
  // render textual explanation
  var p = $("#explanation-text")
  var pnone = p.next()
  p.html("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;").addClass("spinner")
  $.getJSON('/runs/'+run_id+'/explain',{
    claim_id: claim_id
  }, function(response){
    p.removeClass("spinner")
    var text = response.text, metrics = response.metrics

    // render tree viz
    var dialog_id = "tree-visualize-run-"+run_id
    var dialog = $("#"+dialog_id)
    if (dialog.length != 1)
      dialog = $("<div id='"+dialog_id+"'>").appendTo($("body"))
    
    dialog.tree_visualizer_dialog({
      run_id: run_id,
      claim_id: claim_id,
      metrics: metrics,
      title: "Explaining run " + run_id + " and claim " + claim_id
    })

    if (text.length == 0) {
      p.html("Couldn't find explanation")
      pnone.hide()
    }
    else if (text.length == 1) {
      p.html(text[0])
      pnone.show()
    }
    else {
      pnone.hide()
      var html = "<ul>"
      $.each(text, function(i, line){
        if (i > 0) html += "<li><strong>Top Explanation "+i+":</strong> "+line+"</li>"
      })
      html += "</ul>"
      p.html(text[0] + html)
    }
  })
}

function allegate_claim(claim_id, run_id)
{

  if (confirm(
  "To falsify this claim, you need to insert some fake claims "+
  "and rerun this algorithm appending those fake claims to your original datasets. " +
  "\n\nCompute these claims?")) {
    // create allegation job
    $.ajax({
      type: "POST",
      url : "/runs",
      data: {
        claim_id: claim_id,
        run_id: run_id
      },
      success: function(run){
        allegations_table.draw()
      }
    });
    // activate allegate tab if not active
    $("#tabs").tabs("option", "active", 3)
  }
}

function setup_single_datatable(field_name, field_display, showing_inputs, runset, height, filter, search_callback)
{
  // console.log("in setup_single_datatable", field_name)
  var obj = $("#"+field_name+"_datatable")

  obj.empty().append($("<thead><tr></tr></thead>"))
  var thead = $("thead tr", obj)
  thead.append("<th>"+field_display+"</th>")
  var cols = [{data: field_name}]

  var has_normailze_checkbox = false;
  var checkbox = $("#"+field_name+"_normalize");

  if (!showing_inputs) {
    var finished_runs = append_runs_to_table(runset, thead, cols)
    has_normailze_checkbox = !showing_inputs && finished_runs.length > 0;
  }

  var dt = obj.DataTable({
    "serverSide": true,
    "deferLoading": 0,  // don't load first page automatically because main datatable is not ready yet
    "scrollY": has_normailze_checkbox ? height - 30 : height,
    "scrollX": true,  // so that table header scrolls with content
    "jQueryUI": true,
    "search": {"search": filter},
    "ajax": function (data, callback, settings) {
      var url
      if (showing_inputs) {
        url = "/dataset_rows"
        data.extra_kind = runset
        if (selected_datasets_length > 0)
          data.datasets = selected_datasets
      }
      else {
        url = "/runsets/" + runset.id + "/results.json"
      }
      data.extra_only = field_name
      data.extra_source_id_criteria = source_table.search()
      data.extra_object_key_criteria = object_table.search()
      data.extra_criteria = datatable.search()
      if (has_normailze_checkbox && checkbox.find("input").is(":checked"))
        data.extra_normalized = 1
      if (typeof datatable != 'undefined') datatable.draw()
      $.getJSON(url, data, function(response){
        callback(response)
      })
      // manually handle search filter change to update other tables
      if (obj.data("last_filter") != dt.search()) {
        obj.data("last_filter", dt.search())
        search_callback()
      }

    },
    "columns": cols,
    dom: 'T<"clear">JtSif',
    "language": {
      "info": "_START_-_END_/_TOTAL_",
      "infoFiltered": " (_MAX_ total)",
      "infoEmpty": "0-0/0",
      "search": "",
      "zeroRecords": "No matches"
    },
    "destroy": true,  // destroy first if reinitializing
    "scroller": {
      loadingIndicator: false
    },
    tableTools: {
      "sRowSelect": "none",
     aButtons: []
    }
  });
  $("#"+field_name+"_datatable_filter input")
      .attr("placeholder", "Search")

  toggle_normalize_checkbox(checkbox, has_normailze_checkbox, dt)

  return dt;
}  

function toggle_normalize_checkbox(checkbox, visible, datatable)
{
  if (visible) {
    // append checkbox
    checkbox
      .show()
      .unbind()
      .find("input")
      .change(function(){
        datatable.draw()
      })
  }
  else
    checkbox.hide()
}

function append_runs_to_table(runset, thead, cols)
{
  var finished_runs = $.grep(runset.runs, function(run){return run.status == 'finished'})
  $.each(finished_runs, function(i, run){
    thead.append("<th>["+run.id + "] " + run.algorithm+"</th>")
    push_column_data(cols, 'r' + run.id, true)
  })
  return finished_runs
}

function push_column_data(cols, field_name, wrap_span)
{
  var coldef = {data: field_name, visible: is_visible_column(field_name)}
  if (wrap_span)
    coldef.render = function(field_value, type, full, meta) {
      return '<span class="'+field_name+'_cell">'+field_value+'</span>'
    }

  cols.push(coldef)
}

function adjust_dt_columns()
{
  if (typeof datatable != 'undefined') datatable.columns.adjust();
  if (typeof claims_dt != 'undefined') claims_dt.columns.adjust();
  if (typeof ground_dt != 'undefined') ground_dt.columns.adjust();
  if (typeof runtable != 'undefined') runtable.columns.adjust();
  if (typeof allegations_table != 'undefined') allegations_table.columns.adjust();
}

function setup_layout()
{
  
  var page_west = '30%'
  var inner_west = '15%'
  var inner_center = '15%'
  var inner_east =  '70%'
  var inner_south = '15%'
  $('#ground_tab').hide()

  pageLayout = $('body').layout($.extend({
    applyDefaultStyles: true,
    west__size: page_west,
    west__minSize: "10%",
    west__maxSize: "50%",
    autoResize:       true, 
    animatePaneSizing: true,
    west__onresize: adjust_dt_columns,
    west__onclose: adjust_dt_columns,
  },layoutState.load('pageLayout')));

  inner_height()
  $('.ui-layout-center').css('padding', '0px')
  $(window).resize(function(){
    inner_height()
  })

  searchResultsLayout = $(".inner").layout($.extend({
    applyDefaultStyles: true,
    south__size: inner_south,
    south__minSize: "25%",
    south__maxSize: "75%",
    west__size: inner_west,
    center__size: inner_center,
    east__size: inner_east,
    autoResize:       true,  // try to maintain pane-percentages
    closable:       true,
    togglerLength_open:   0, // hide toggler-buttons
    spacing_closed:     0, // hide resizer/slider bar when closed
    autoReopen:       true,  // auto-open panes that were previously auto-closed due to 'no room'
    center__onresize: function() {
      setup_runtable()
      setup_datatables()
      setup_claims_dataset_table()
      setup_ground_dataset_table()
      setup_allegationtable()
    }
  },layoutState.load('searchResultsLayout')));

  $(window).unload(function(){ layoutState.save('pageLayout')})
  $(window).unload(function(){ layoutState.save('searchResultsLayout') })

  

  $('#Logo').click(function(){
    pageLayout.sizePane('west', page_west)
    searchResultsLayout.sizePane('east', inner_east)
    searchResultsLayout.sizePane('west', inner_west)
    searchResultsLayout.sizePane('south', inner_south)   
    
  })
}

function setup_west_pane()
{

  $( "#tabs" ).tabs({
    disabled: [1],
    activate: function(event, ui) {
      if (ui.newTab.attr("id") == 'allegate-tab')
        setup_allegationtable();
    }
  })
  
  // create algorithm divs
  var container= $("#tab_pane")
  var html = ""
  $.each(algorithms, function(index, algorithm) {
    var params =""
    var order = 0
    config_data[algorithm.name] = []
    $.each(algorithm.params, function(pindex, param){
      if(param.hidden != true){
        params += "<tr><td width='100%'><span class='param-name'>" + param.name
        + "</span><span class='info-icon ui-icon ui-icon-info' title='"
        + param.desc + "'></span> </td><td><input step='"+(param.step||'')+"' dataType= '"+param.dataType+"' class='spinner' min='"
        + param.min+"' max='"+param.max+"' value='"+param.value
        + "' algorithm_id='"+algorithm.name+"' order= '"+order+"' ></input></td></tr>" 
      }
      order ++
      config_data[algorithm.name].push(param.value)
    });
    html += "<h3 class='algorithm_"+algorithm.name+"'>" + algorithm.name
    if (algorithm.multi) html += "  (multi-valued property values)"
    html += "</h3><div class='algorithm_"+algorithm.name+"'><table cellpadding=0 cellspacing=0 width='100%' border=0 style ='border-collapse:collapse;'>"
      + params + "</table></div>"
  }); 
  container.append(html)

  // create spinners
  
  $(".spinner").spinner({
    step: 0.000001
  })
  .on("spinchange", function(){
    var value = $(this).spinner('value')
    var algo_id = $(this).attr('algorithm_id')
    var order_val = $(this).attr('order')
    config_data[algo_id].splice(order_val,1,value)
  })
  .each(function(){
    var step = $(this).attr('step')
    var dataType = $(this).attr('dataType')

    if (step != '')
    {
      //console.log("step defined: ", step, parseFloat(step), $(this).attr("algorithm_id"), $(this).attr('order'))
      $(this).spinner('option', 'numberFormat', 'n')
      $(this).spinner('option', 'step', parseFloat(step))
    }
    else if (dataType == 'double') {
     // console.log("default step of 0.1")
      $(this).spinner('option', 'numberFormat', 'n')
      $(this).spinner('option', 'step', 0.1)
    }
    else {
     // console.log("integer data type")
      $(this).spinner('option', 'step', 1)
    }
    $(this).spinner('option', 'min', parseFloat($(this).attr("min")));
    $(this).spinner('option', 'max', parseFloat($(this).attr("max")));

  });

  // create Algorithm section in tab-1 under 3rd header
  var container = $("#algo_pane")
  var html = ""

  html += "<div class='algo-mix-warn'>WARNING: mixing multi-valued algorithms with non-multi-valued algorithms " +
          "may not display all claims in the runset table!</div>"

  $.each(algorithms, function(index, algorithm){
    if(index!= 0) {
      html += "<input type='checkbox' id='algorithm_checkbox_" + 
        algorithm.name+"' algorithm_id='" + algorithm.name +
        "' class='algorithm_checkbox color_on_check color_on_uncheck' "
        if (algorithm.multi) html += "multi='multi' "
        if (algorithm.combiner) html += "combiner='combiner' disabled='disabled' "
        html += " /><label style='background: none;' class='algorithm_checkbox_label' "
        html += "title='" + algorithm.description+"' for='algorithm_checkbox_"+algorithm.name+"'>" +
        algorithm.name
      if (algorithm.multi) html += "  (multi-valued property values)"
      html += "</label>"
    }
  });
  container.append(html);

  // create button checkbox
  $(".algorithm_checkbox")
    .button({icons: {primary: 'ui-icon-closethick'}})
    .change(function(){
      // Warn if mixing single_valued and multi_valued algorithms
      $(this).button("option", "icons", {primary: $(this).is(':checked') ? 'ui-icon-check' : 'ui-icon-closethick'})

      if (check_algorithm_checkbox())
        $(".algo-mix-warn").show()
      else
        $(".algo-mix-warn").hide()
    });
    
  // create the accordion
  $( ".accordion" ).accordion({
    collapsible: true,
    active: 0,
    heightStyle: "content",
  });

  $("#tab-1 .accordion").accordion({
    "activate": function(event, ui) {
      if (ui.newHeader.attr("id") == "upload_claims_header")
        setup_claims_dataset_table()
      else if (ui.newHeader.attr("id") == "upload_ground_header"){
        setup_ground_dataset_table()
      }
    }
  })
  setup_claims_dataset_table();
  // we need initial setup to know if there are ground datasets
  setup_ground_dataset_table();

  // file upload
  var jqXHR= null;
  $('.fileupload').fileupload({
    add: function (e, data) {
      data.dataType = 'XML'
      data.formData = s3_direct_post.fields
      data.url = s3_direct_post.url
      data.method = 'POST'
      data.paramName = 'file'
      jqXHR = data.submit()
      $(this).parent().next().next().removeAttr('disabled')
    },  
    start: function(){
      // console.log("started upload")
      $(this).parent().next().next().next().find('.progress-bar')
        .css('width','0');
    },
    progressall: function (e, data) {
      // console.log(data)
      var progress = parseInt(data.loaded / data.total * 100, 10);
       $(this).parent().next().next().next().find('.progress-bar')
        .css('width', progress + '%');
    },
    done: function(e, data) {
      $(this).parent().next().next().attr('disabled', 'disabled')

      // extract key and generate URL from response
      var key = $(data.jqXHR.responseXML).find("Key").text()
      $.post('/datasets', {
        s3_key: key,
        original_filename: key.split("/").pop(),
        kind: $(this).attr("kind")
      }, function(dataset){
        // clear checked datasets and check only the uploaded one
        clear_and_init_selected_datasets(dataset)
        if (typeof claims_dt != 'undefined') claims_dt.draw()
        if (typeof ground_dt != 'undefined') ground_dt.draw()
      })
    },
    fail: function() {
      // console.log("cancelled upload")
      $(this).parent().next().next().attr('disabled', 'disabled')
      $(this).parent().next().next().next().find('.progress-bar')
        .css('width','0');
    }
  });

  $('.cancel').click(function (e) {
    jqXHR.abort();
  });
}

function refresh_charts()
{
  // list runs of current runset in runs_selector
  var data_selector = $("#data-selector").tabs("option", "active")
  var runset = runsets[data_selector]
  var options = ["<option value='-1'>Select a run</option>"]
    .concat($.map(runset.runs, function(run){
    return "<option value='"+run.id+"'>"+run.display+"</option>"
  }))

  $("#runs_selector").html(options.join("\n"))
    .change(function(){
      var run_id = $(this).val()
      if (run_id != "-1") {
        var dialog_id = "visualize-run-"+run_id
        var dialog = $("#"+dialog_id)
        if (dialog.length != 1)
          dialog = $("<div id='"+dialog_id+"'>").appendTo($("body"))
        
        dialog.visualizer_dialog({
          run_id: run_id,
          title: "[Runset "+runset.id+"] " + $("option:selected", this).text()
        })
      }
    })
}

function setup_datasets_dialog(dataset_icon_selector){
  var dialog_div = $("#datasets_dialog")
  var datasets = ["Books", "Flights", "Population", "Weather"]

  var html = "<ol>"
  $.each(datasets, function(id, dataset){
    html += "<li><a href='http://allegatortrack.s3-website-us-east-1.amazonaws.com/datasets/"
      +dataset+".zip'>"+dataset+"</a></li>"
  })

  html += "</ol>"

  dialog_div.empty().append(html).dialog({
    autoOpen: false,
    modal: true
  });

  $(".download-datasets").click(function(){
    dialog_div.dialog('open')
  });
}

function inner_height(){
  $('.inner').css('height', $(window).height() - $('#data-selector').height())
}
