var pageLayout
var searchResultsLayout
var datatable

$(document).ready(function() {
  setup_layout()
  setup_west_pane()
  setup_datatable()
  refresh_datasets_tables()
});

function refresh_datasets_tables(){
  $.getJSON("/datasets", function(data){
    refresh_datasets_table(data, 'claims')
    refresh_datasets_table(data, 'ground')
  })
}

function refresh_datasets_table(data, dataset_kind)
{
  var items = ""
  $.each(data[dataset_kind], function(key, value){
    items += "<tr><td>"+ value.id+"</td><td>"+value.original_filename+"</td><td>"+value.created_at
    +"</td><td>"+value.row_count+"</td><td> <span dataset_id='"+value.id+"' class='trash-icon ui-icon ui-icon-trash'></span></td></tr>"
  });
  var container= $("#datasets_" + dataset_kind + "_tbody")
     .empty()
     .append(items)
  $('.trash-icon',container).click(function(){
    if(confirm("Are you sure you want to delete this dataset?"))
     $.ajax({
       url: '/datasets/'+$(this).attr("dataset_id"),
       type: "DELETE",
       success: function(){
        refresh_datasets_tables();
       }
     });
   });
}

function setup_datatable() {
  var src_dataset= [
     ['<input type="checkbox">','eCampus.com'],
     ['<input type="checkbox">','Indoo.com'],
     ['<input type="checkbox">','A1Books'],
     ['<input type="checkbox">','textbooksNow'],
     ['<input type="checkbox">','paperbackworld.de'],
     ['<input type="checkbox">',' Caiman']
    ]
    var obj_dataset= [
     ['<input type="checkbox">','Object 1'],
     ['<input type="checkbox">','Object 2'],
     ['<input type="checkbox">','Object 3'],
     ['<input type="checkbox">','Object 4'],
     ['<input type="checkbox">','Object 5'],
     ['<input type="checkbox">','Object 6']
    ]
    var source_table = $("#source_datatable").DataTable({
    "data": src_dataset,
    retrieve: true,
    "columns":[
      {"check_box": ""},
      {"source": "Sources"},
    ],
    dom: 'T<"clear">lf',
        paging: false,
        tableTools: {
          "sRowSelect": "os",
           "fnRowSelected": function ( nodes ) {
             var select = source_table.row(nodes[0]).data()
             
           },
          // "fnRowDeselected": function ( nodes ) {
          // },
         aButtons: []
        }

  });
  var object_table = $("#object_datatable").DataTable({
    "data": obj_dataset,
    retrieve: true,
    "columns":[
      {"check_box":""},
      {"object": "Objects"},
    ],
    dom: 'T<"clear">lf',
    paging: false,
        tableTools: {
          "sRowSelect": "os",
          aButtons: []
        }
  });
  var height = searchResultsLayout.state.center.innerHeight - 115
  var include_exclude_action = function( nButton, oConfig ) {
            var oTT = TableTools.fnGetInstance('example');
            var data = oTT.fnGetSelectedData();
            if (data.length == 0)
              alert("Nothing selected")
            else
              alert("Including rows: \n" + data.join("\n"))
          }
   
  datatable = $('#datatable').DataTable({
    "serverSide": true,
    "scrollY": height,
    // "sorting": false, 
    "dom": '<"toolbar"T>ftS',
    "ajax": "/dataset_rows",
    "columns": [
      {data: 'claim_id'},
      {data: 'object_id'},
      {data: 'property_key'},
      {data: 'propery_value'},
      {data: 'source_id'},
      {data: 'timestamp'}
    ],
    "destroy": true,  // destroy first if reinitializing
    "scroller": {
      loadingIndicator: true
    },
    tableTools: {
      "sRowSelect": "os",
      "fnRowSelected": function ( nodes ) {
        var data = datatable.row(nodes[0]).data()
        $("#details").html("You have selected claim with id: " + data.claim_id)
      },
      "fnRowDeselected": function ( nodes ) {
        $("#details").html("")
      },
      "aButtons": []
    }
  });
}

function setup_layout()
{
  pageLayout = $('body').layout({
    applyDefaultStyles: true,
    west__size: "25%",
    west__minSize: "10%",
    west__maxSize: "50%",
    west__onresize: function() {
      datatable.columns.adjust();
    },
    west__onclose: function() {
      datatable.columns.adjust();
    }
  });
  
  searchResultsLayout = $(".inner").layout({
    applyDefaultStyles: true,
    south__size: "15%",
    south__minSize: "25%",
    south__maxSize: "75%",
    center__onresize: function() {
      setup_datatable()
    }
  });
}

function setup_west_pane()
{
  // create algorithm divs
  var container = $("#tab_pane")
  var html = ""
  $.each(algorithms, function(index, algorithm) {
    var params =""
    $.each(algorithm.params, function(pindex, param){
      params += "<tr><td width='100%'><span>" + param.name
        + "</span><span class='info-icon ui-icon ui-icon-info' title='"
        + param.desc + "'></span> </td><td><input class='spinner' min='"
        + param.min+"' max='"+param.max+"' value='"+param.value
        + "'></input></td></tr>" 
    });
    html += "<h3>" + algorithm.name + "</h3><div><table cellpadding=0 cellspacing=0 width='100%' border=0 style ='border-collapse:collapse;'>"
      + params + "</table></div>"
  });
  
  container.append(html)

  // create spinners
  $(".spinner").spinner({
      step: 0.1,
      numberFormat: "n",
    }).each(function(){
      $(this).spinner('option', 'min', parseFloat($(this).attr("min")));
      $(this).spinner('option', 'max', parseFloat($(this).attr("max")));
    });

  // create Algorithm section in tab-1 under 3rd header
  var container = $("#algo_pane")
  var html =""

  $.each(algorithms, function(index, algorithm){
    html += "<input type='checkbox' id='algorithm_checkbox_"+algorithm.id+"' class='algorithm_checkbox'/><label class='algorithm_checkbox_label' for='algorithm_checkbox_"+algorithm.id+"'>"+algorithm.name +"</label>"
  });
  container.append(html);

  // create button checkbox
  $(".algorithm_checkbox")
    .button({icons: {primary: 'ui-icon-closethick'}})
    .change(function(){
      $(this).button("option", "icons", {primary: $(this).is(':checked') ? 'ui-icon-check' : 'ui-icon-closethick'})
    });

  // create the accordion
  $( ".accordion" ).accordion({
    collapsible: true,
    active: false,
    heightStyle: "content",
  });

  // file upload
  $('.fileupload').fileupload({
    dataType: 'json',
    start: function(){
      console.log("started upload")
      $(this).parent().next().find('.progress-bar')
        .css('width','0');
    },
    progressall: function (e, data) {
        console.log(data)
        var progress = parseInt(data.loaded / data.total * 100, 10);
         $(this).parent().next().find('.progress-bar').css(
            'width',
            progress + '%'
        );
    },
    done: function() {
      refresh_datasets_tables()
    }


  }); 
  // tabs setup
  $( "#tabs" ).tabs();
}

